# Итоговые задачи первой недели

## ЗАДАЧА

Любым удобным для вас способом создайте dataframe c именем my_data, 
в котором две колонки c именами (type - строки, value - целые числа) 
и четыре наблюдения в каждой колонке:

In [1]:
import pandas as pd

In [2]:
my_data = pd.DataFrame({'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]})
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

## ЗАДАЧА

Особенно важный навык при работе с данными - это умение быстро и эффективно 
отбирать нужные вам колонки или строки.

Начнем с простого, в dataframe с именем my_stat 
сохранено 20 строк и четыре колонки (V1, V2, V3, V4):

В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

In [3]:
my_stat = pd.read_csv('data/my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [25]:
subset_1 = my_stat.iloc[:10, [0, 2]]
l = [i for i in my_stat.index if i not in [0, 4]]
subset_2 = my_stat.iloc[l, [1, 3]]

## ЗАДАЧА

Теперь потренируемся отбирать нужные нам наблюдения (строки), соответствующие некому условию. 
В dataframe с именем my_stat четыре колонки V1, V2, V3, V4:

В переменную subset_1 сохраните только те наблюдения, 
у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.

В переменную  subset_2  сохраните только те наблюдения, 
у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

In [27]:
subset_1 = my_stat.query("V1 > 0 & V3 == 'A'")
subset_2 = my_stat.query("V2 != 10 | V4 >= 1")

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
5     2  11.0  A  0.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[447 rows x 4 columns]

## ЗАДАЧА

Теперь давайте преобразуем наши данные. В переменной my_stat лежат данные с котороыми вам 
необходимо проделать следующее дейтвие. В этих данных (my_stat) создайте две новые переменных:

V5 = V1 + V4

V6 = натуральный логарифм переменной V2

In [28]:
import numpy as np

In [29]:
my_stat = my_stat.assign(V5 = my_stat.V1 + my_stat.V4, V6 = np.log(my_stat.V2))

     V1    V2 V3   V4   V5        V6
0     2  13.0  B  1.0  3.0  2.564949
1    -1   7.0  B  1.0  0.0  1.945910
2     0  11.0  A  0.0  0.0  2.397895
3     2  11.0  A  2.0  4.0  2.397895
4     0  10.0  B -1.0 -1.0  2.302585
..   ..   ... ..  ...  ...       ...
495   1   8.0  A -1.0  0.0  2.079442
496   3   8.0  A  1.0  4.0  2.079442
497  -1  11.0  B  2.0  1.0  2.397895
498   1  11.0  A  2.0  3.0  2.397895
499   0   8.0  B  1.0  1.0  2.079442

[500 rows x 6 columns]

## ЗАДАЧА

Переименуйте колонки в данных  my_stat следующим образом:

V1 -> session_value

V2 -> group

V3 -> time

V4 -> n_users

In [31]:
my_stat = my_stat.rename(columns={
    'V1': 'session_value',
    'V2': 'group',
    'V3': 'time',
    'V4': 'n_users'
})
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0

## ЗАДАЧА

В переменной session_value замените все пропущенные значения на нули.

В переменной n_users замените все отрицательные значения на медианное 
значение переменной n_users (без учета отрицательных значений, разумеется).

In [38]:
my_stat = pd.read_csv('data/my_stat_1.csv')
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [39]:
my_stat = my_stat.assign(session_value = my_stat.session_value.fillna(0))
m = my_stat.query('n_users >= 0').n_users.median()
my_stat.n_users[my_stat.n_users < 0] = m

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

## ЗАДАЧА

В этой задаче для данных my_stat рассчитайте среднее значение переменной 
session_value для каждой группы (переменная group), в получившемся dataframe  
переменная group не должна превратиться в индекс. Также переименуйте колонку 
со средним значением session_value в mean_session_value.

In [50]:
my_stat.groupby('group', as_index=False).aggregate({'session_value': 'mean'}).rename(columns={'session_value': 'mean_session_value'})

  group  mean_session_value
0     A                 0.8
1     B                 0.8