## Задача

Давайте найдем такой стэп, используя данные о сабмитах. Для каждого пользователя найдите 
такой шаг, который он не смог решить, и после этого не пытался решать другие шаги. 
Затем найдите id шага,  который стал финальной точкой практического обучения на курсе 
для максимального числа пользователей.

In [1]:
import pandas as pd

In [2]:
submission_data = pd.read_csv('data/submissions_data_train.csv')
submission_data.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [5]:
user_max_timestamp = submission_data.groupby('user_id', as_index=False).agg({'timestamp': 'max'}).rename(columns={'timestamp': 'max_timestamp'})
user_max_timestamp.head()

   user_id  max_timestamp
0        2     1514383485
1        3     1444573728
2        5     1499859730
3        8     1480604143
4       14     1436368601

In [6]:
submission_data = submission_data.merge(user_max_timestamp, how='left')
submission_data.head()

   step_id   timestamp submission_status  user_id  max_timestamp
0    31971  1434349275           correct    15853     1479734163
1    31972  1434348300           correct    15853     1479734163
2    31972  1478852149             wrong    15853     1479734163
3    31972  1478852164           correct    15853     1479734163
4    31976  1434348123             wrong    15853     1479734163

In [7]:
last_submission = submission_data.query('timestamp == max_timestamp')
last_submission.head()

     step_id   timestamp submission_status  user_id  max_timestamp
46     33025  1479734163           correct    15853     1479734163
133    31991  1436207389           correct     6640     1436207389
262    33669  1436338096           correct     8624     1436338096
629    33685  1435854481           correct    24821     1435854481
783    33669  1436806235           correct    16503     1436806235

In [8]:
last_submission = last_submission.query("submission_status == 'wrong'")
last_submission.head()

      step_id   timestamp submission_status  user_id  max_timestamp
1696    33025  1436094981             wrong    18175     1436094981
5588    32173  1435303058             wrong     6053     1435303058
5848    33669  1436431976             wrong    13793     1436431976
6184    33350  1490785375             wrong    19739     1490785375
7332    32202  1492184437             wrong    17578     1492184437

In [17]:
max_try = last_submission.groupby('step_id').count().max().timestamp
max_try

154

In [18]:
last_submission.groupby('step_id', as_index=False).count().query('max_timestamp == @max_try')

   step_id  timestamp  submission_status  user_id  max_timestamp
4    31978        154                154      154            154