## Введение

Импортируем главные библиотеки

In [1]:
import pandas as pd
import numpy as np

Прочитаем данные

In [2]:
student_performance = pd.read_csv('data/StudentsPerformance.csv')

Отобразим данные

In [3]:
student_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Выведем начало датасета

In [4]:
student_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Попросим больше информации

In [5]:
student_performance.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Или меньше

In [6]:
student_performance.head(1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74

Выведем конец датасета

In [7]:
student_performance.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Посчитаем описательные статистики для нашего датасета

In [8]:
student_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Посмотрим на типы данных в нашем датасете

In [9]:
student_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Узнаем размерность данных

In [10]:
student_performance.shape

(1000, 8)

## Обращение к данным датафрейма

Отберем первые 5 наблюдений и первые 3 переменные

In [11]:
student_performance.iloc[0:5, 0:3]

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

Отберем только определенные строки и колонки

In [12]:
student_performance.iloc[[0, 3, 10], [0, 5, -1]]

    gender  math score  writing score
0   female          72             74
3     male          47             44
10    male          58             52

### Выбор данных по названиям

Создадим небольшой именованный датафрейм

In [13]:
student_performance_with_names = student_performance.iloc[[0, 3, 4, 7, 8]]

student_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67

In [14]:
student_performance_with_names.index = ["Cersei", "Tywin", "Gregor", "Joffrey", "Ilyn Payne"]

student_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67

Отберем несколько записей по их имени

In [15]:
student_performance_with_names.loc[["Cersei", "Joffrey"]]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Joffrey,male,group B,some college,free/reduced,none,40,43,39

Дополнительно укажем колонки

In [16]:
student_performance_with_names.loc[["Cersei", "Joffrey"], ['gender', 'writing score']]

         gender  writing score
Cersei   female             74
Joffrey    male             39

## Пандовские серии
Отберем значения только первой колонки

In [17]:
student_performance_with_names.iloc[:, 0]

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

Результат отличается. Посмотрим на тип полученных данных.

In [18]:
type(student_performance_with_names.iloc[:, 0])

pandas.core.series.Series

Это пандовская серия. 
Посмотрим, что мы раньше возвращали.

In [19]:
type(student_performance_with_names.loc[["Cersei", "Joffrey"], ['gender', 'writing score']])

pandas.core.frame.DataFrame

Это пандовский датафрейм. Надо понять, что такой пандовская серия. 
Пандовская серия - это такой одноразмерный массив с именами строк. 
Создадим пандовскую серию.

In [20]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

Проименуем серию

In [21]:
pd.Series([1, 2, 3], index=["Cersei", "Tywin", "Gregor"])

Cersei    1
Tywin     2
Gregor    3
dtype: int64

На самом деле пандовский датафрейм - это объединенные в одном месте пандовские серии. 
Каждая колонка - это пандовская серия, которая имеет некоторый ключ и хранится под именем, 
совпадающим с именем переменной.

Создадим датафрейм из пандовских серий

In [22]:
my_series_1 = pd.Series([1, 2, 3], index=["Cersei", "Tywin", "Gregor"])
my_series_2 = pd.Series([4, 5, 6], index=["Cersei", "Tywin", "Gregor"])
pd.DataFrame({"col_name_1": my_series_1, "col_name_2": my_series_2})

        col_name_1  col_name_2
Cersei           1           4
Tywin            2           5
Gregor           3           6

Если мы обратимся к данным просто по имени колонки, это значит "возьми то, что лежит по значению gender"

In [23]:
student_performance_with_names['gender']

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

То мы получим просто пандовскую серию.

А если мы обратимся вот так, это значит "возьми нам от всего датафрейма только его колонку gender"

In [24]:
student_performance_with_names[['gender']]

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey       male
Ilyn Payne    male

Мы получим датафрейм.

## Фильтрация данных

Отберем только те данные, для которых пол = female.

Подробнее посмотрим на колонку gender.

In [25]:
student_performance.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

Это пандовская серия. С пандовскими сериями можно делать следующее:

In [26]:
student_performance.gender == 'female'

0       True
1       True
2       True
3      False
4      False
       ...
995     True
996    False
997     True
998     True
999     True
Name: gender, Length: 1000, dtype: bool

Используем это свойство для отбора данных

In [27]:
student_performance.loc[student_performance.gender == 'female'].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

Отберем только определенные колонки с условием

In [28]:
student_performance.loc[student_performance.gender == 'female', ['gender', 'writing score']].head()

   gender  writing score
0  female             74
1  female             88
2  female             93
5  female             78
6  female             92

Обратимся к колонке по ключу

In [29]:
student_performance['writing score']

0      74
1      88
2      93
3      44
4      75
       ..
995    95
996    55
997    65
998    77
999    86
Name: writing score, Length: 1000, dtype: int64

Можно просто посмотреть среднее по колонке

In [30]:
student_performance['writing score'].mean()

68.054

Сохраним его в переменную

In [31]:
mean_writing_score = student_performance['writing score'].mean()

Отберем только те наблюдения, которые выше среднего значения

In [32]:
student_performance.loc[student_performance['writing score'] > mean_writing_score].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78

Выберем данные по нескольким условиям

In [33]:
student_performance.loc[(student_performance['writing score'] > mean_writing_score) & (student_performance['gender'] == 'female')].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

### Спецальный метод query()

Переименуем колонки

In [34]:
student_performance = student_performance.rename(columns = {
    'parental level of education': 'parental_level_of_education',
    'test preparation course': 'test_preparation_course', 
    'math score': 'math_score', 
    'reading score': 'reading_score',
    'writing score': 'writing_score'
})
student_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Используем query()

In [35]:
student_performance.query("writing_score > 74").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [36]:
student_performance.query("gender == 'female'").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

Запрос по несколькоим условиям

In [37]:
student_performance.query("gender == 'female' & writing_score > 78").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88

Запрос с использованием переменных

In [38]:
writing_score_query = 78
student_performance.query("gender == 'female' & writing_score > @writing_score_query").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88

Мы хотим отобрать только колонки, которые содержат в себе score. 
Есть два метода: через pandas и не через pandas.

Сначала попробуем не через pandas.

Можно отобрать колонки простым перечислением.

In [39]:
student_performance[['math_score', 'reading_score']].head()

   math_score  reading_score
0          72             72
1          69             90
2          90             95
3          47             57
4          76             78

Все имена датафрейма можно получить следующим образом

In [40]:
list(student_performance)

['gender',
 'race/ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score']

Обработав этот список нужным нам образом, можно получить на выходе список нужных имен

In [41]:
[i for i in list(student_performance) if 'score' in i]

['math_score', 'reading_score', 'writing_score']

Результат можно использовать для отбора колонок

In [42]:
student_performance[[i for i in list(student_performance) if 'score' in i]].head()

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

### Использование метода filter()

In [43]:
student_performance.filter(like='score').head()

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

Метод filter() можно использовать не только для колонок, но и для строк

In [44]:
student_performance_with_names.filter(like='e', axis=0)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67

## Группировка и агрегация данных
Получим среднее значение количественных переменных

In [45]:
student_performance.groupby('gender').mean()

        math_score  reading_score  writing_score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

Для одновременного использования нескольких функций используется aggregate

In [46]:
student_performance.groupby('gender').aggregate({'math_score': 'mean', 'reading_score': 'mean'})

        math_score  reading_score
gender
female   63.633205      72.608108
male     68.728216      65.473029

Для того, чтобы избавиться от группирующих индексов, используется параметр as_index=False

In [47]:
student_performance.groupby('gender', as_index=False).aggregate({'math_score': 'mean', 'reading_score': 'mean'})

   gender  math_score  reading_score
0  female   63.633205      72.608108
1    male   68.728216      65.473029

Переименуем колонки для более полного понимания их смысла

In [48]:
student_performance.groupby('gender', as_index=False)\
    .aggregate({'math_score': 'mean', 'reading_score': 'mean'})\
    .rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score'})

   gender  mean_math_score  mean_reading_score
0  female        63.633205           72.608108
1    male        68.728216           65.473029

Сгруппируем данные по нескольким переменным

In [49]:
student_performance.groupby(['gender', 'race/ethnicity'], as_index=False)\
    .aggregate({'math_score': 'mean', 'reading_score': 'mean'})\
    .rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score'})

   gender race/ethnicity  mean_math_score  mean_reading_score
0  female        group A        58.527778           69.000000
1  female        group B        61.403846           71.076923
2  female        group C        62.033333           71.944444
3  female        group D        65.248062           74.046512
4  female        group E        70.811594           75.840580
5    male        group A        63.735849           61.735849
6    male        group B        65.930233           62.848837
7    male        group C        67.611511           65.424460
8    male        group D        69.413534           66.135338
9    male        group E        76.746479           70.295775

Добавим индексы

In [50]:
student_performance.groupby(['gender', 'race/ethnicity'])\
    .aggregate({'math_score': 'mean', 'reading_score': 'mean'})\
    .rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score'})

                       mean_math_score  mean_reading_score
gender race/ethnicity
female group A               58.527778           69.000000
       group B               61.403846           71.076923
       group C               62.033333           71.944444
       group D               65.248062           74.046512
       group E               70.811594           75.840580
male   group A               63.735849           61.735849
       group B               65.930233           62.848837
       group C               67.611511           65.424460
       group D               69.413534           66.135338
       group E               76.746479           70.295775

Получился составной индекс из нескольких уровней  

**Задача**: Найти top-5 записей с наивысшими оценками по математике для разных полов.

Сначала осортируем записи по полу и по оценке математики

In [51]:
student_performance.sort_values(['gender', 'math_score'], ascending=False).head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
306,male,group E,some college,standard,completed,99,87,81

Затем сгруппируем данные по полу и вызовем первые 5 записей

In [52]:
student_performance.sort_values(['gender', 'math_score'], ascending=False) \
    .groupby('gender').head(5)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
306,male,group E,some college,standard,completed,99,87,81
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
263,female,group E,high school,standard,none,99,93,90

## Создание новых колонок в датафрейме

In [53]:
student_performance['total_score'] = student_performance.math_score + student_performance.reading_score + student_performance.writing_score
student_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [54]:
student_performance = student_performance.assign(total_score_log = np.log(student_performance.total_score))
student_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,total_score_log
0,female,group B,bachelor's degree,standard,none,72,72,74,218,5.384495
1,female,group C,some college,standard,completed,69,90,88,247,5.509388
2,female,group B,master's degree,standard,none,90,95,93,278,5.627621
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,4.997212
4,male,group C,some college,standard,none,76,78,75,229,5.433722

## Удаление колонок

In [55]:
student_performance.drop(['total_score'], axis=1).head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score_log
0,female,group B,bachelor's degree,standard,none,72,72,74,5.384495
1,female,group C,some college,standard,completed,69,90,88,5.509388
2,female,group B,master's degree,standard,none,90,95,93,5.627621
3,male,group A,associate's degree,free/reduced,none,47,57,44,4.997212
4,male,group C,some college,standard,none,76,78,75,5.433722