## ЗАДАЧА

Пересчитаем число ног у героев игры Dota2! 
Сгруппируйте героев из датасэта по числу их ног (колонка legs), и заполните их число в задании ниже.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/dota_hero_stats.csv')
df.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [4]:
df.groupby('legs', as_index=False).count()

,legs,Unnamed: 0,attack_type,id,localized_name,name,primary_attr,roles
0,0,11,11,11,11,11,11,11
1,2,95,95,95,95,95,95,95
2,4,7,7,7,7,7,7,7
3,6,3,3,3,3,3,3,3
4,8,1,1,1,1,1,1,1

## ЗАДАЧА

К нам поступили данные из бухгалтерии о заработках Лупы и Пупы за разные задачи! 
Посмотрите у кого из них больше средний заработок в различных категориях (колонка Type) 
и заполните таблицу, указывая исполнителя с большим заработком в каждой из категорий.

In [5]:
df = pd.read_csv('data/accountancy.csv')
df.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [6]:
df.groupby(['Executor', 'Type'], as_index=False).mean()

   Executor Type  Unnamed: 0      Salary
0     Loopa    A   46.000000   58.000000
1     Loopa    B   24.000000  145.166667
2     Loopa    C   31.666667  154.333333
3     Loopa    D   31.857143  137.714286
4     Loopa    E   23.500000  164.000000
5     Loopa    F   20.000000  238.000000
6      Pupa    A   16.000000  160.833333
7      Pupa    B   41.000000   77.000000
8      Pupa    C   23.000000   74.500000
9      Pupa    D   14.000000  146.500000
10     Pupa    E   19.800000  131.200000
11     Pupa    F   25.750000  136.250000

## ЗАДАЧА

Продолжим исследование героев Dota2. Сгруппируйте по колонкам attack_type и primary_attr 
и выберите самый распространённый набор характеристик.

In [7]:
df = pd.read_csv('data/dota_hero_stats.csv')
df.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [12]:
df.groupby(['attack_type', 'primary_attr'], as_index=False).aggregate({'localized_name': 'count'})\
    .sort_values('localized_name', ascending=False)

  attack_type primary_attr  localized_name
4      Ranged          int              40
2       Melee          str              35
0       Melee          agi              19
3      Ranged          agi              18
5      Ranged          str               3
1       Melee          int               2

## ЗАДАЧА

Аспирант Ростислав изучает метаболом водорослей и получил такую табличку. 
В ней он записал вид каждой водоросли, её род (группа, объединяющая близкие виды), 
группа (ещё одно объединение водорослей в крупные фракции) и концентрации анализируемых веществ.

Помогите Ростиславу найти среднюю концентрацию каждого из веществ в каждом из родов (колонка genus)! 
Для этого проведите группировку датафрэйма, сохранённого в переменной concentrations, 
и примените метод, сохранив результат в переменной mean_concentrations.

In [14]:
concentrations = pd.read_csv('data/algae.csv')
concentrations.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [15]:
concentrations.groupby('genus').mean()

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

## ЗАДАЧА

Пользуясь предыдущими данными, укажите через пробел (без запятых) чему равны минимальная, 
средняя и максимальная концентрации аланина (alanin) среди видов рода Fucus. 
Округлите до 2-ого знака, десятичным разделителем является точка.

In [20]:
concentrations.filter(items=['genus', 'alanin']).query("genus == 'Fucus'").mean()

alanin    3.566411
dtype: float64

## ЗАДАЧА

Сгруппируйте данные по переменной group и соотнесите вопросы с ответами

In [23]:
concentrations.groupby('group').aggregate({'sucrose': 'max'})

        sucrose
group
brown  6.825467
green  5.712284
red    0.704580

In [24]:
concentrations.groupby('group').aggregate({'sucrose': 'min'})

        sucrose
group
brown  1.636122
green  2.452623
red    0.704580

In [25]:
concentrations.groupby('group').aggregate({'citrate': 'var'})

        citrate
group
brown  5.468942
green  3.950113
red         NaN